<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="ApiToken" value="ApiToken" />
      <add key="UrlAllUsers" value="https://epe.isd.dp.ua/isddb/db.aspx?&amp;location=ZP" />
      <add key="UrlUserWeek" value="https://epe.isd.dp.ua/isddb/db.aspx?mode=week&amp;login=" />
      <add key="IsMoked" value="true" />
    </appSettings>
</configuration>